<!DOCTYPE html>
<html>

    <head>
        <title>I N D R A</title>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
        <link href="https://fonts.googleapis.com/css2?family=Blinker&display=swap" rel="stylesheet">
    </head>

    <body>
         <div class="titlebar">
            <h1 class="titlebar__h1">I N D R A</h1>
            <h2 class="titlebar__h2">Schedule</h2>
        </div>

        <div class="user-settings">
            <h1 class="user-settings__h1"></h1>
        </div>

        <div class="content-box">
            <div class="fog-container">
                <div class="fog-img fog-img-first"></div>
                <div class="fog-img fog-img-second"></div>
            </div>
            <div class="tags-content-box">
                <div class="button-box">
                    <button class="btn btn--1">+</button>
                    <button class="btn btn--1">-</button>
                </div>
                <div class="tags-box">
                    <div class="tag">Ingles</div>
                    <div class="tag">Programación</div>
                    <div class="tag">Gimnasio</div>
                    <div class="tag">Curso CSS</div>
                    <div class="tag">Meditación</div>
                    <div class="tag">Caminar</div>
                    <div class="tag">Trabajo</div>
                    <div class="tag">Proyecto Alternativo</div>
                    <div class="tag">Amigos</div>
                    <div class="tag">Test</div>
                    <div class="tag">ASD</div>
                </div>
            </div>
            <div class="calendar-box">
                <div class="calendar__info">
                    <div class="calendar__prev calendar__prev--1" id="prev-month">&#9664;</div>
                    <div class="calendar__month" id="month"></div>
                    <div class="calendar__year" id="year"></div>
                    <div class="calendar__next calendar__next--1" id="next-month">&#9654;</div>
                </div>

                <div class="calendar__week">
                    <div class="calendar__date calendar__item">Mon</div>
                    <div class="calendar__date calendar__item">Tue</div>
                    <div class="calendar__date calendar__item">Wed</div>
                    <div class="calendar__date calendar__item">Thu</div>
                    <div class="calendar__date calendar__item">Fri</div>
                    <div class="calendar__date calendar__item">Sat</div>
                    <div class="calendar__date calendar__item">Sun</div>
                </div>

                <div class="calendar__dates" id="dates"></div>
            </div>

        </div>
        <a href="{% url 'logout' %}">Logout</a>
    </body>
    <script src="../static/js/scripts.js"></script>
    <footer class="footer-style">
        <p>TODOS LOS DERECHOS RESERVADOS: Cyberian Dev | Nicolas Muras</p>
    </footer>
</html>
