<!DOCTYPE html>
<html>

    <head>
        <title>I N D R A</title>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../static/css/login.css">
        <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
        <link href="https://fonts.googleapis.com/css2?family=Blinker&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="titlebar-login">
            <h1 class="titlebar__h1">I N D R A</h1>
            <h2 class="titlebar__h2">Schedule</h2>
        </div>
        <div class="content-box">
            <div class="login-box">
                <input class="input-obj" placeholder="Usuario">
                <input class="input-obj" type="password" placeholder="Contraseña">
                <button class="btn-login btn--1" type="submit">L O G I N</button>
            </div>
            <div class="fog-container">
                <div class="fog-img fog-img-first"></div>
                <div class="fog-img fog-img-second"></div>
            </div>
        </div>
  </body>
    <script src="../static/js/scripts.js"></script>
    <footer class="footer-style">
        <p>TODOS LOS DERECHOS RESERVADOS: Cyberian Dev | Nicolas Muras</p>
    </footer>
</html>
